// Catalog Styles

html,
body {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

#controls-area {
    font-size: 0.8em;

    button {
        padding: 0 0.2em !important;
    }

    #sort-box {
        .btn-sort {
            padding: 0 0.2em !important;
            opacity: .5;

            &:after {
                content: '';
                vertical-align: middle;
                display: inline-block;
                height: 17px;
                width: 10px;
                line-height: 1em;
            }

            &:after {
                content: "\F124";
                font-family: "bootstrap-icons";
            }

            &.desc:after {
                content: "\F145";
                font-family: "bootstrap-icons";
            }

            &.asc,
            &.desc {
                opacity: 1;

                &:after {
                    display: inline-block;
                }
            }
        }
    }

    .form-switch input {
        cursor: pointer;
    }
}

body[data-bs-theme="dark"] {
    #controls-area {
        #sort-box {
            .btn-sort:after {
                filter: invert(1);
            }
        }
    }
}

#books-list {
    &.-view-list {
        #table-header {
            display: block !important;
            width: 100%;
        }

        #table-header,
        .book {
            display: block;
            width: 100% !important;
            padding: 0 !important;

            td {
                vertical-align: middle;
            }

            .col-cover {
                cursor: pointer;
                width: 80px;

                img {
                    object-fit: cover;
                    height: 120px;
                    max-width: 80px;
                }
            }

            .col-title {
                min-width: 320px;
            }

            .col-authors {
                width: 320px;
                min-width: 320px;
            }

            .col-added-on {
                width: 120px;
            }
        }

        .book {
            margin: 0 !important;
            width: 33%;

            header {
                display: none;
            }

            .book__table {
                display: block !important;
                margin-top: -1px;
            }
        }
    }
}

.book {
    display: inline-block;
    width: 33%;
    padding: 0.8em;

    header {
        cursor: pointer;

        img {
            max-width: 100%;
        }
    }

    .book__body {
        display: none;
    }
}

.book__body .book__meta {
    font-size: 0.8em;

    label {
        font-style: italic;
        font-size: 0.8em;
    }
}

#book-preview {
    display: flex;
    width: 100%;
    height: 100svh;
    position: absolute;
    top: 0;
    right: 0;

    &:not(.show) {
        display: none !important;
    }

    .book-preview__content {
        height: calc(100% - 52px);
        overflow-y: auto;

        .book {
            width: 100%;

            header {
                text-align: center;
                margin: 0 auto;
                cursor: default;

                img {
                    width: auto;
                    height: 380px;
                }
            }

            .book__body {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #books-list .book {
        width: 200px;
    }

    #book-preview {
        --book-preview-width: 450px;
        width: var(--book-preview-width);
        right: 0;
        transition: right .5s ease;

        &:not(.show) {
            right: calc(var(--book-preview-width) * -1);
        }
    }
}

body.-show-books-formats .book-formats {
    display: block !important;
}

.rating {
    &.-rating-1:before,
    &.-rating-2:before,
    &.-rating-3:before,
    &.-rating-4:before,
    &.-rating-5:before {
        font-family: "bootstrap-icons";
    }

    &.-rating-1:before {
        content: "\F586\F588\F588\F588\F588";
    }

    &.-rating-2:before {
        content: "\F586\F586\F588\F588\F588";
    }

    &.-rating-3:before {
        content: "\F586\F586\F586\F588\F588";
    }

    &.-rating-4:before {
        content: "\F586\F586\F586\F586\F588";
    }

    &.-rating-5:before {
        content: "\F586\F586\F586\F586\F586";
    }
}
